*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.only{
    width:80%;
    height:300px;
    background: rgb(235, 234, 234);
    position: absolute;
    top:20%;
    display: table;
    border-radius: 10px;
    padding:15px;
}
h1{
    display: table-cell;
    vertical-align: middle;
    font-size:3.5em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 143, 190);
    font:uppercase;
}